<h1>About Us</h1>
<p>
   Sodalis stands for your SOcial DAily LIfeS and keeping track of it.<br>
   The product is the result of a hungry programmer and lots of wine when<br>
   brainstorming on <a href="http://amuzega.com/">Amuzega</a>.<br> 
   This is the first test of the program.<br>
</p>
