<h1>Welcome @ Sodalis</h1>
<p>
  This is the place where your time is your life <br>
  This is the place where your time and life is kept <br>
</p>

<%= link_to 	"Sign up now!", '#', :class => "signup_button round" %>